/* You can start typing your css codes here */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap'); */


body .v-application .primary--text { color:#14B5D0 !important; caret-color:#14B5D0 !important; }
body .v-application .secondary--text { color:#043DB0 !important; caret-color:#043DB0 !important; }
body .v-application .accent--text { color:#14B5D0 !important; caret-color:#14B5D0 !important; }
body .v-application .info--text { color:#4A90E2 !important; caret-color:#4A90E2 !important; }
body .v-application .success--text { color:#36AF47 !important; caret-color:#36AF47 !important; }
body .v-application .warning--text { color:#F7981C !important; caret-color:#F7981C !important; }
body .v-application .error--text { color:#ED1C24 !important; caret-color:#ED1C24 !important; }

body .v-application .primary { background-color:#14B5D0 !important; border-color:#14B5D0 !important; }
body .v-application .secondary { background-color:#043DB0 !important; border-color:#043DB0 !important; }
body .v-application .accent { background-color:#14B5D0 !important; border-color:#14B5D0 !important; }
body .v-application .info { background-color:#4A90E2 !important; border-color:#4A90E2 !important; }
body .v-application .success { background-color:#36AF47 !important; border-color:#36AF47 !important; }
body .v-application .warning { background-color:#F7981C !important; border-color:#F7981C !important; }
body .v-application .error { background-color:#ED1C24 !important; border-color:#ED1C24 !important; }

.cardBackground
{ 
    background-color: rgb(198, 136, 174) !important;
    border-radius: 11px !important;
}
.v-text-field{
    border-radius: 5px;
}

.customCardTitle{
    background-color: blue !important;
    margin: 0px !important;
}

body .v-application .v-card.v-sheet--outlined.primary--text{ color:#14B5D0 !important; border-color:#14B5D0 !important; }

body .v-application .v-tabs {
    caret-color: rgb(0, 0, 0) !important;
  }
  
/* tabs içindeki vCombobox item listin ekranın aşağısına doğru tam açılması için */
.v-tabs > .v-window {overflow: initial !important;}